# Functions 
* allows us to create a block of code that can be easily executed many times without re-writing the code
* Return allows us to save the result in a variable

In [16]:
def say_hello():
    print('Hello')

In [17]:
say_hello()

Hello

In [18]:
def say_hello(name):
    print(f'Hello, {name}')

In [19]:
say_hello('Eren')

Hello, Eren

In [20]:
# If lets say you doubt that you will forget to pass the agrument then just do this
def say_hello(name = 'User'):
    print(f'Hello, {name}')

In [21]:
say_hello()

Hello, User

In [22]:
# Return allows you to grab the result and save it, and print is used to just view the result

def print_result(a, b):
    print(a + b)

In [23]:
# Notice how there is not OUT[8] below In[8], because print only views the result
print_result(1, 2)

3

In [24]:
res = print_result(1, 2)

3

In [25]:
# This is a NoneType meaning cant save the result to any variable
type(res)

NoneType

In [26]:
def return_result(a, b):
    return a + b

In [27]:
result = return_result(1, 2)

In [28]:
result

3

In [29]:
def is_even(num):
    return num % 2 == 0

In [30]:
is_even(3)

False

In [31]:
def is_even_list(numls):
    
    # placeholder variables
    even_number = []
    
    for x in numls:
        if x % 2 == 0:
            even_number.append(x)
        else:
            pass
    return even_number

# Return will break out of the loop.

In [32]:
is_even_list([1, 2, 4, 3, 6])

[2, 4, 6]

In [33]:
is_even_list([1, 3])

[]

# Tuple unpacking with DEF

In [34]:
work_hours = [('X', 100), ('Y', 200), ('A', 1000), ('Z', 300)]

In [35]:
def employees(work_hours):
    
    current_max = 0
    employee_of_month = ''
    
    for employee, hours in work_hours:
        if hours > current_max:
            current_max = hours
            employee_of_month = employee
        else:
            pass
    return (employee_of_month, hours)
    # return f'Hurray, the employee of the month is {employee_of_month} with {current_max}'

In [36]:
employees(work_hours)

('A', 300)

In [37]:
# We can save it to a variable or also separate it

name, hours = employees(work_hours)
print(name)

A

# *args and *kwargs

In [38]:
# args is used to pass as many number user wants to without defining it in function
# ARGS returns a tuple

def my_func(*args):
    return sum(args) * 0.10

In [39]:
# I can pass as many numbers as I want 
my_func(40, 50)

9.0

In [40]:
# Kwargs returns a dictionary

def myfunc(**kwargs):
    if 'Veggie' in kwargs:
        return 'My fav veggie {}'.format(kwargs['Veggie'])
    else:
        print('No')

In [41]:
myfunc(fruit = 'Apple', Veggie = 'Potato')

'My fav veggie Potato'

In [42]:
def myfu(*args):
    l = []
    for i in args:
        if i % 2 == 0:
            l.append(i)
    return l

In [43]:
myfu(1, 2, 3, 4)

[2, 4]

#### Function for making even position alphabet capital letter and odd position small letter

In [44]:
def myfunc(t):
    newls = ''
    for i in range(0, len(t)):
        if i % 2 == 0:
            newls = newls + t[i].lower()
        else:
            newls = newls + t[i].upper()
    return newls

In [45]:
myfunc('Anthropomorphism')

'aNtHrOpOmOrPhIsM'

#### Function for checking lesser of two given odd numbers using *args

In [46]:
evennum = []
oddnum = []

def lesser_of_two_odds(*args):
    for i in args:

        if i % 2 == 0:
            evennum.append(i)
        elif i % 2 != 0:
            oddnum.append(i)
            return max(oddnum)
        else:
            pass

    return min(evennum)

In [47]:
lesser_of_two_odds(9, 7)

9

#### Check if twenty is present

In [48]:
def makes_twenty(n1,n2):
    
    if n1 == 20 or n2 == 20:
        return True
    elif n1 + n2 == 20:
        return True
    else:
        return False

In [49]:
makes_twenty(30, 10)

False

In [50]:
def newword(n):
    x = ''
    for i in range(0, len(n)):
        
        if i == 0:
            x = x + n[i].upper()
        elif i == 3:
            x = x + n[i].upper()
        else:
            x = x + n[i]
    return x

In [51]:
newword('macdonald')

'MacDonald'

In [52]:

def myfunc(t):
    newls = ''
    for i in range(0, len(t)):
        if i % 2 == 0:
            newls = newls + t[i].lower()
        else:
            newls = newls + t[i].upper()
    return newls

In [53]:
myfunc('ronaldo')

'rOnAlDo'

#### Master yoda 
* returning the reverse of the sentence, just like Yoda

In [54]:
def master_yoda(text):
    
    for i in text:
        
        x = text.split(' ')
        x = x[::-1]
        x = ' '.join(x)
        
    return x

In [55]:
master_yoda('where are you')

'you are where'

#### Checking if a given number falls between the given range

In [56]:
def theree(a):
    
    if a in range(90, 111):
        print('True')
    elif a in range(190, 211):
        print('True')
    else:
        print('False')

In [57]:
theree(150)

False

#### Function to repeat letter

In [58]:
def paper_doll(text):
    y = []
    for i in text:
        x = i * 3
        y.append(x)
        z = ''.join(y)
    print(z)

In [59]:
paper_doll('Yolo')

YYYooolllooo

#### Check if sum of the given array is less than 21, sum shoulnot exceed 30

In [60]:
s = (9, 9, 9)
if sum(s) <= 21:
    print(sum(s))
    
elif 11 in s:
    print(sum(s) - 10)
    
elif sum(s) > 21:
    print('BUST')

BUST

# MAP, LAMBDA EXPRESSIONS AND FILTER

In [61]:
def func(nums):
    return nums ** 2

In [62]:
nums = [1, 2, 3]
list(map(func, nums))

[1, 4, 9]

In [63]:
def func1(strng):
    for i in strng:
        if len(strng) % 2 == 0:
            return 'EVEN'
        else:
            return strng[0]

In [64]:
names = ['andy', 'om', 'opm']
list(map(func1, names))

['EVEN', 'EVEN', 'o']

In [65]:
def check_odd(numss):
    return numss % 2 != 0

In [66]:
number = range(0, 11)
list(filter(check_odd, number))

[1, 3, 5, 7, 9]

In [67]:
list(map(lambda num : num ** 2, number))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [68]:
list(filter(lambda oddn : oddn % 2 != 0, number))

[1, 3, 5, 7, 9]

In [69]:
list(map(lambda first_l : first_l[0], names))

['a', 'o', 'o']

# LEGB Rule

- Python follows this rule to assign a value to a variable :

* 1] <b>L</b> - It checks if it is Locally defined
* 2] <b>E</b> - If not locally then next is enclosing (def within a def)
* 3] <b>G</b> - If not in L and E then it checks if it is globally defined
* 4] <b>B</b> - If it is built-in

In [70]:
def vol(radius):
    return round((4/3 * (3.14 * radius ** 3)), 2)

In [71]:
vol(2)

33.49

In [72]:
def inrange(num, low, high):
        if num in range(low, high):
            return f'{num} is in range of {low} and {high}'
        else:
            return f'{num} is not in range of {low} and {high}'

In [73]:
inrange(5, 2, 7)

'5 is in range of 2 and 7'

In [74]:
inrange(6, 7, 11)

'6 is not in range of 7 and 11'

In [75]:
def ran_bool(num,low,high):
        return num in range(low, high)

In [76]:
ran_bool(3, 1, 5)

True

In [77]:
ran_bool(4, 5, 8)

False

#### Find upper and lower letters in a given string

In [78]:
def up_lows(strng):
    
    up = []
    lows = []
    
    for i in range(0, len(strng)):
        
        if strng[i].isupper():
            up.append(strng[i])
            
        elif strng[i].islower():
            lows.append(strng[i])
            
    print(strng)
    print(f'No. of Uppercase characters : {len(up)}')
    print(f'No. of Lowercase characters : {len(lows)}')

In [79]:
up_lows('Potato')

Potato
No. of Uppercase characters : 1
No. of Lowercase characters : 5

#### Set() to remove repeated numbers

In [80]:
def unique_list(l):
    
    return list(set(l))

In [81]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

#### Multiply the numbers in a given array and return the number

In [82]:
def multiply(lst):
    
    x = 1
    
    for i in lst:
        if i != 0:
            x = x * i
    return x

In [83]:
ll = [1, 2, 3, -4]
multiply(ll)

-24

#### Check if Palindrome

In [84]:
def palindrome(st):
    
    st2 = st.replace(' ', '')
    st2 = st[::-1]
    for x, y in zip(st, st2):
        return x == y

In [85]:
lll = 'madam'
palindrome(lll)

True

In [86]:
palindrome('kayak')

True

In [87]:
# Replace method
stt = 'hello how'
stt.replace(' ', '')

'hellohow'

In [88]:
pn = "The quick brown fox jumps over the lazy dog"
pnl = pn.replace(' ', '')
pnlo = pnl.lower()

In [89]:
# Sorted, set and join the letters
a = sorted(set(pnlo))
aa = ''.join(a)
aa

'abcdefghijklmnopqrstuvwxyz'

#### Pangram

In [90]:
# Pangram are sentences which contain every alphabet atleast once in them.

import string

def ispangram(str1, alphabet=string.ascii_lowercase):
    
    str1 = str1.replace(' ', '')
    str1 = str1.lower()
    str2 = sorted(set(str1))
    a = ''.join(str2)
    
    return a == alphabet

#### Second method to check upper and lower letters and returning count of them

In [91]:
def up_lows(num):
    
    d = {'upper' : 0, 'lower' : 0}
    
    for i in num:
        if i.isupper():
            d['upper'] += 1
        elif i.islower():
            d['lower'] += 1
        else:
            pass
        
    print(num)
    print(f'No. of Uppercase characters : {d["upper"]}')
    print(f'No. of Lowercase characters : {d["lower"]}')

In [92]:
s = 'Hello Mr. SchwertarzJ, how are you this fine Tuesday?'
up_lows(s)

Hello Mr. SchwertarzJ, how are you this fine Tuesday?
No. of Uppercase characters : 5
No. of Lowercase characters : 37

#### Finding Unique number without set()

In [93]:
def unique_list(num):
    
    x = []
    
    for i in num:
        if i not in x:
            x.append(i)
    return x

In [94]:
unique_list([1,1,1,1,2,3,4])

[1, 2, 3, 4]